.cal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 20px 15px;
  padding: 16px;
}
.cal input {
  width: 180px;
  background-color: var(--color2);
  outline: none;
  border: solid 1px var(--color3);
  border-radius: 6px;
  padding: 8px 8px;
  text-align: center;
}
input::placeholder {
  color: #8a1d1d;
}
.cal select {
  background-color: var(--color2);
  outline: none;
  border: solid 1px var(--color3);
  border-radius: 6px;
  padding: 4px 8px 4px 8px;
  text-align: center;
}
.result {
  width: 300px;
  margin: 20px auto;
  border-radius: 16px;
  border: 2px solid #8a1d1d;
  padding: 10px;
  color: #8a1d1d;
}
/* For Mobile View */
@media only screen and (max-width: 536px) {
  .cal {
    flex-direction: column;
    gap: 15px;
    margin: 20px 15px;
  }
  .result {
    width: 260px;
    margin: 30px 15px;
  }
}
