.siinputs {
  margin: 40px 10px 20px 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}
.inputreq p {
  margin: 8px;
  font-size: 14px;
  color: #8a1d1d;
}
.inputreq input {
  color: #8a1d1d;
  width: 200px;
  background-color: var(--color2);
  outline: none;
  border: solid 1px var(--color3);
  border-radius: 6px;
  padding: 8px;
  text-align: center;
}
.calculate {
  margin: 26px auto;
  color: #8a1d1d;
  border: 2px solid #8a1d1d;
  width: 300px;
  padding: 8px;
  border-radius: 16px;
}
/* For Mobile View */
@media only screen and (max-width: 536px) {
  .calculate {
    width: 280px;
    padding: 12px;
  }
}
